.game-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 25px auto;
}

.game-cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game-cell.is-x {
  color: #2cccff;
}

.game-cell.is-o {
  color: #ff6651;
}

.game-reset {
  margin: 25px auto;
  padding: 10px 20px;
  color: white;
  background: #6a5af9;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
}

.game-winner {
  font-size: 20px;
  color: #f62682;
  font-weight: bold;
  text-align: center;
}
